build
dist

Temp_All_Gacha/*
Temp_Gacha/*
Temp_Rereroll_Gacha/*
bin/screens/*
screens/*
outputs/*

bin/device_config.json
bin/main_config.json
logs/error_log.json
logs/error_log.json.backup
logs/pesbot.log

utils/__pycache__/*

player_summary.json
ranger_summary.json

*.local